
.blue-logo img
{
	padding-top: 10px;
	padding-bottom:9px;
	width: 180px;
	height: 58px;
}


.white-logo img {
	width: 100% !important;
	height: 150px;
}


/*Hidden our platform section*/

section.our-platform {

	display: none;

}


#collapseTwo .accordion-body {

	width: 100%;

}


div#what-we-do-sec {

	margin-bottom: 25px;

}



/* our platform */

.accordion-button {

	background: linear-gradient(90deg, #E6F4EA 0%, #ed174c 100%);

	color: #ffffff;

}


.accordion-button:not(.collapsed) {

	color: #ffffff;

}

.our-platform {

	padding-top: 55px;

	padding-bottom: 55px;

	background-color: #ffffff;

}

.our-platform .container .nav-tabs {

	border: none;

}

.our-platform .container .nav-tabs li {

	color: #7b3b76;

	font-size: 24px;

	font-weight: 350;

	line-height: normal;

}

.our-platform .container .nav-tabs li .nav-link {

	position: relative;

	color: #000;

	border: none;

}

.nav-tabs .nav-link {

	margin-bottom: -1px;

	background: 0 0;

	border: 1px solid transparent;

	border-top-left-radius: 0.25rem;

	border-top-right-radius: 0.25rem;

}


.our-platform .tab-content .tab-pane {

	width: 100%;

}


.our-platform .container .nav-tabs li button.active {

	background: #3ddf8e;

	color: #fff;

}


.our-platform .container .nav-tabs li button {

	width: 100%;

	padding: 16px;

	background: #f1f1f1;

	min-width: 552px;

}


.fs24 {

	font-size: 24px !important;

	line-height: 30px;

}

.textpurple {

	/*    color: #934083;*/

	font-weight: 600;

}

.our-platform .container .accordion-item .gradienttext {

	/*background: linear-gradient(90deg, #E6F4EA -3.14%, #ed174c 80%);

    background-clip: text;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;*/

	color: #49d4a6;

	font-weight: 600;

	margin-bottom: -5px;

}

.our-platform .container .accordion-item p {

	line-height: 1.2rem;

}

.fs30 {

	font-size: 30px;

	line-height: 1.5 !important;

}

img.img-fluid {

	display: inline;

}

.our-platform .container .know-more-btn {

	display: flex;

	width: 128px;

	height: 60px;

	line-height: 60px;

	justify-content: center;

	align-items: center;

	gap: 10px;

	flex-shrink: 0;

	font-size: 14px;

	font-weight: 500;

	color: white;

	background: linear-gradient(90deg, #63c996 100%);

}

.nav-tabs .nav-link.active:focus {

	border-color: none;

	outline: none;

}

.our-platform {


	padding-top: 80px;


	padding-bottom: 80px;


	background-color: #ffffff;
}


.our-platform .container .mainTitle {


	color: #69d18c;
}


.our-platform .container .know-more-btn {


	display: flex;


	width: 128px;


	height: 60px;


	line-height: 60px;


	justify-content: center;


	align-items: center;


	gap: 10px;


	flex-shrink: 0;


	font-size: 14px;


	font-weight: 500;


	color: white;


	background: linear-gradient(90deg,#99d694 100%);
}


.our-platform .container .know-more-btn:hover {


	background: linear-gradient(-90deg, #E6F4EA 0%, #24ca98 100%);
}


@media (max-width: 991px) {


	.our-platform .container .tab-content>.tab-pane {


		display: block;


		opacity: 1;

	}

	div#home-tab-pane,
	div#profile-tab-pane {

		text-align: center;

	}

	h2.accordion-header {

		font-size: 1.3rem;

	}

	button.accordion-button:focus {

		outline: none;

	}

	button.accordion-button {

		padding: 10px;

	}

	.accordion-body .row.align-items-center:last-child {

		margin-bottom: 25px;

	}


	.accordion-body .row.align-items-center {

		margin-top: 25px;

	}

	.accordion-body h3.cash-in-transit {

		margin-top: -15px;

	}

}


#theme-main-banner {
	    height: 600px;
	    width: 100%;
	    max-width: 100%;
	}

	.camera_wrap .camera_pag .camera_pag_ul {
	    width: 100%;
	    max-width: 100%;
	    text-align: center;
	}

#what-we-do-sec {
	    height: 100%;
	    position: initial;
	    width: 100%;
	    display: flex;
	}
	.theme-title-one .title {
	    margin: 0;
		font-weight: 600;
	    padding: 5;
	}

	.theme-title-one.text-center .title:before {
	    left: 50%;
	    margin-left: 0;
	    transform: translateX(-50%);
	    bottom: -1px;
	}

.our-platform .container .nav-tabs {


	border: none;
}


.our-platform .container .accordion-item {


	border: none;
}

/* our platform */


#theme-main-banner .camera_caption h1 {


	padding-top: 150px;

}


.our-blog a.pb-3 {

	min-height: 77px;

}


.camera_wrap .camera_pag .camera_pag_ul li {

	height: 8px;

	width: 8px;

	background-color: #fff;

}


.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {

	width: 16px !important;

	height: 16px !important;

	background-color: #fff !important;

	top: 4px;

}


.camera_wrap .camera_pag .camera_pag_ul li:hover>span {

	background: transparent;

}


.accordion-one .panel-group .panel-body {


	padding-right: 7px;

}


.camera_pag {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	max-width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}


.camera_prev {

	left: 80px;

}


.camera_next {

	right: 80px;

}


#theme-main-banner .camera_next:before,
#theme-main-banner .camera_prev:before {

	font-size: 50px;

}


.theme-header-one .theme-menu-wrapper {

	border-bottom: none;

}

.service-style-two .single-block .text .srvc-name h6 a {

	color: #181818;

	font-size: 15px;

}

.algo_award {

	padding: 0;

}

.algo_award_content {

	display: flex;

}

.algo_award .faq-tab-wrapper {

	align-self: center;

}


.falgo_award img {

	width: 49%;

}

.falgo_award .faq-tab-wrapper {

	margin-bottom: 50px;

}

.falgo_award h2.title {

	font-size: 18px;

	color: #ed174c;

	line-height: 28px;

}

#loader-wrapper {

	display: none;

}

#theme-main-banner {

	/*	height: 100vh !important;*/

	z-index: 1;

}

.camera_fakehover {

	/* height: 90vh;

    min-height: 60px;*/

	position: relative;

	width: 100%;

	z-index: 1;

}


@media (max-width: 992px) {

	.algo_award {

		padding: 20px 0 50px;

	}

}


@media (min-width: 992px) {

	.algo_award img {

		width: 70%
	}

	.camera_target_content .cameraContents .cameraContent:nth-child(1) h1 {
	    padding-top: 90px !important;
	}

	.camera_target_content .cameraContents .cameraContent:nth-child(2) h1 {
	    padding-top: 43px !important;
	}

}


@media (min-width: 768px) {


	.our-platform .tab-content .tab-pane {

		width: 300%;

	}

}


@media (max-width: 767px) {


	.our-platform .container .nav-tabs li button,
	.our-platform .container .nav-tabs li,
	.our-platform .container .nav-tabs {

		max-width: 100%;

		width: 100%;

		display: block !important;

		min-width: 100%;

		margin: 10px 0px;

	}


	.our-platform .tab-content {

		display: block;

	}

	.service-style-two .single-block .text .srvc-name {

		padding-left: 15px;

	}

	.service-style-two .single-block .text .srvc-name h6 a {

		font-size: 14px;

	}

	

}




.blog-img-box img {

	width: 100%;

	height: auto;

}


.business-bottom-nav .single-block .text img {

	height: 45px;

	width: 45px;

}


.my-slider .slick-next,
.my-slider .slick-prev {

	width: 40px;

	height: 40px;

}

.my-slider .slick-next {

	right: -40px;

}

.my-slider .slick-prev {

	left: -40px;

}

.my-slider .slick-next:before,
.my-slider .slick-prev:before {

	color: #212529;

	font-size: 40px;

}


@media screen and (max-width: 766px) {


	.our-blog a.pb-3 {

		min-height: 60px;

	}


	.my-slider .slick-next,
	.my-slider .slick-prev {

		width: 20px;

		height: 20px;

	}

	.my-slider .slick-next {

		right: 20px;

	}


	.my-slider .slick-arrow {

		z-index: 1;

	}


	.my-slider .slick-prev {

		left: 12px;

	}


	.my-slider .slick-prev,
	.my-slider .slick-next {

		top: 46%;

	}


	.my-slider .slick-next:before,
	.my-slider .slick-prev:before {

		font-size: 30px;

	}


	.service-style-two .single-block .row {

		max-width: 100%;

		width: 100%;

		margin: 36px auto 20px !important;

	}


	.service-style-two .single-block .row .col-md-8 {

		padding-left: 0;

		width: 66%;

	}


	.service-style-two .single-block .row .col-md-4 {

		padding-right: 0;

		width: 33%;

	}

}


@media screen and (max-width: 600px) {

	

	
	.service-style-two .single-block .img-box, .service-style-two .single-block .img-box img {
		width: 100%;
		height: 100%;
		max-width: 100%;
	}

	.service-style-two .single-block .text {
		position: relative;
    display: flex;
	}



	#theme-main-banner.banner-one .camera_caption p {

		width: 100%;

	}


	#theme-main-banner .camera_caption h1 span {

		line-height: 35px;

		font-size: 25px;
		font-family: 'Courier New', Courier, monospace;

	}

	.camera_next {

		right: 20px;

	}


	.camera_prev {

		left: 20px;

	}





	.service-style-one .main-container .left-side,
	.service-style-one .main-container .right-side {

		width: 100%;

		float: none;

		max-width: 100%;

		padding: 0;

	}


	.service-style-one .main-container .right-side .col-md-10 {

		padding: 0;

	}


	.service-style-one .main-container .main-bg-wrapper {

		width: 100%;

		max-width: 100%;

		display: block;

		padding: 30px;

	}


	#theme-main-banner .camera_caption h1 {

		padding-top: 100px;

	}


	.falgo_award img {

		margin: 0 auto;

	}


	.our-blog.center-text-blog.section-spacing {

		margin-bottom: 0;

	}


}





@media screen and (min-width: 1920px) {

	#theme-main-banner .camera_caption > div {
		height: 100%;
		top: 0%;
		left: 50%;
		transform: translateX(-50%);
		overflow: hidden;
	}
}
